.list{
    position: fixed;
    width: 100%;
    background-color: #F17272;
    text-align: center;
}

.bk1{
    margin: auto;
    width: 70%;
}

.circle{
    position:fixed;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: #F0BC29;
    color: #ffffff;
    right: 7%;
    top: 500px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
}

.tab{
    width: 600px;
    margin: auto;
}
.footer{
    background-color: #B6B6B6;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    font-weight: lighter;
}